
<div id="newprodslider" class="featured col-md-12 col-xs-12 col-sm-12"> {# Added an ID to the slider. Alex Wintschel, Aug 11, 2017 #}
  <h2>{{ 'New products' | t }}</h2>
  <div class="border">
    <div class="slider">
      <ul>
        {% for product in newest %}
        {#{% if product.data_01 != 'look' %} Commenting our original code and replacing with line 189 for more control over homepage slider - Alex Wintschel, Aug 11, 2017 #}
         {% if product.data_01 == 'new' %}
        
          {# Bulk of slider code omitted #}

{# If there are no "new" products in the slider on the homepage, make it disappear - Alex Wintschel, Aug 11, 2017 #}
    <script>
      var newProd = document.getElementsByClassName('newProduct');
      var newSlider = document.getElementById('newprodslider');
      
      if (newProd.length == 0) {
        newSlider.parentNode.removeChild(newSlider);
      }
    </script>
{# If there are no "new" products in the slider on the homepage, make it disappear - Alex Wintschel, Aug 11, 2017 #}
